node_modules/
dist/
verification/
docs/PRD.md

.DS_Store
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel


SH10_GỐC_BIÊN TẬP.csv
SH11-MỚI.csv
MÔ HÌNH 3D CHỐT - SH10_3D_Minh.csv

AGENTS.md